<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvest Harmony</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image hh main.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_process.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cluster formed if auto-cluster mode is selected</h1>

        {% if scatter_plot %}
            <div class="plot">
                <h2>2D Scatter Plot of Clusters</h2>
                <img src="data:image/png;base64,{{ scatter_plot }}" alt="Scatter Plot">
            </div>
        {% endif %}

        {% if radar_chart %}
            <div class="plot">
                <h2>Radar Chart of Cluster Profiles</h2>
                <img src="data:image/png;base64,{{ radar_chart }}" alt="Radar Chart">
            </div>
        {% endif %}

        {% if clustered_data %}
            <div class="plot">
                <h2>Clustered Data</h2>
                {{ clustered_data | safe }}
            </div>
        {% endif %}
    </div>
</body>
</html>
